<html>
<head>
    <title>Device State</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/app.css?modified=20181215.13"/>
</head>

<body>

<a class="weatherwidget-io" href="https://forecast7.com/en/33d76n78d81/29572/?unit=us" data-label_1="MYRTLE BEACH" data-label_2="WEATHER" data-theme="original" >MYRTLE BEACH WEATHER</a>
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

<div style="text-align: right;">
    Last:&nbsp;
    <a href={{ .GetEventsHref }}{{"?since=1h"}}>Hour</a> &nbsp;
    <a href={{ .GetEventsHref }}{{"?since=6h"}}>6 Hours</a> &nbsp;
    <a href={{ .GetEventsHref }}{{"?since=24h"}}>Day</a>&nbsp;
    <a href={{ .GetEventsHref }}{{"?since=168h"}}>Week</a>&nbsp;
</div>

<div class="grid-container">
{{range .Events }}
    <div class="card">
        <div class="card-container {{.Event}} {{.Value}}" onclick="window.location.href='{{ .Device | getDeviceEventsHref }}'">
                    <h4><b>{{ .Device }}</b></h4>
                    <p>{{ .EventTime }}</p>
                    <p class="right">{{ .Value }}</p>
        </div>
    </div>
{{else}}
    <div>
        <strong>
            no rows
        </strong>
    </div>
{{end}}
</div>

</body></html>